<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
</head>
<body>
  <div id="todo">
  </div>
  <script type="text/template" id="item-template">
    <div class="view">
      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
      <label><%= title %></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%= title %>">
  </script>
  <!-- build:js vendor/jquery/jquery.js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <!-- /build -->
  <!-- build:js vendor/underscore/underscore.js -->  
  <script src="../bower_components/underscore/underscore.js"></script>
  <!-- /build -->
  <!-- build:js vendor/backbone/backbone.js -->   
  <script src="../bower_components/backbone/backbone.js"></script>
  <!-- /build -->
  <!-- build:js js/jspch01.js -->
  <script src="js/demo.js"></script>
  <!-- /build -->
</body>
</html>